{$CADDY_HOST} {
	route /api* {
		uri strip_prefix /api
		reverse_proxy http://api:8081
	}

	route /monday* {
		uri strip_prefix /monday
		reverse_proxy http://monday:8888
	}

	reverse_proxy http://app:8080
}